:root {
    --clr-primary-200: hsl(0, 80%, 90%);
    --clr-primary-400: #ec776f;
    --clr-primary-600: #DA291C;
    --clr-primary-900: #d1180b;

    --clr-accent-one-200: hsl(206, 85%, 87%);
    --clr-accent-one: #0f6fbd;
    --clr-accent-two-200: hsl(141, 85%, 83%);
    --clr-accent-two: #22c55e;
    --clr-accent-tree-200: hsl(38, 80%, 81%);
    --clr-accent-tree: #f59e0b;

    --clr-neutral--200: #888;
    --clr-neutral-500: #2a2727;
    --clr-neutral-900: #000000;
}

/* Start Box */
.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-grow1 {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

}

/* End Box */

/* Start width & height */
.w-full {
    width: 100%;
}

.w-100 {
    width: 100px;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: 100%;
}

.h-100 {
    height: 100px;
}

/* End width & height  */

/* Start Padding & Margin */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-15 {
    padding: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.m-0 {
    margin: 0px;
}

.m-20 {
    margin: 20px;
}

.m-15 {
    margin: 15px;
}


.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

/* End Padding & Margin */

/* Start Color  */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-pr-600 {
    background-color: var(--clr-primary-600);
}

.bg-ac-one {
    background-color: var(--clr-accent-one);
}

.bg-ac-two {
    background-color: var(--clr-accent-two);
}

.bg-ac-tree {
    background-color: var(--clr-accent-tree);
}

.c-white {
    color: white;
}

.c-nt-900 {
    color: var(--clr-neutral-900);
}

.c-nt-200 {
    color: var(--clr-neutral--200);
}

.c-pr-600 {
    color: var(--clr-primary-600);
}


.c-ac-one {
    color: var(--clr-accent-one);
}

.c-ac-two {
    color: var(--clr-accent-two);
}

.c-ac-tree {
    color: var(--clr-accent-tree);
}

/* End color */

/* Start Position */
.p-relative {
    position: relative;
}

/* End Position */

/* Start Font */
.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}



.fw-bold {
    font-weight: bold;
}

.fw-nr {
    font-weight: normal;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center
    }
}

/* End Font */

/* Start Border  */
.b-none {
    border: none;
}

.border-ccc {
    border: 1px solid #ccc;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.br-1p {
    border: 1px solid #ccc;
}

/* End Border  */



/* Start Direction  */
.rt-Dir {
    direction: rtl
}

.rt-float {
    float: right;
}


/* End Direction  */

/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-full {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 10px;
}

.btn-shape {
    display: block;
    font-size: 14px;
    width: fit-content;
    background-color: var(--clr-primary-600);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
}

.btn-lab {
    padding: 4px 10px;
    border-radius: 6px;
}


/* End Components */