* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: white
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary-400)
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-primary-600)
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
    transition: .7s;
}

.sidebar>h3.h-small {
    display: none;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.sidebar>h3::before {
    background-color: var(--clr-primary-600);
    width: 100px;
    height: 3px;
    bottom: -18px;
}

.sidebar>h3::after {
    width: 12px;
    height: 12px;
    bottom: -28px;
    border-radius: 50%;
    background-color: rgb(42, 39, 39);
    border: 5px solid white;
}

.sidebar ul li a {
    transition: .5s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    padding-left: 15px;
    background-color: var(--clr-primary-200);
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 65px;
        padding: 10px;
    }

    .sidebar>h3.h-small {
        display: block;
    }

    .sidebar>h3.h-larg {
        display: none;
    }

    .sidebar>h3::before {
        width: 40px;
        height: 4px;
        bottom: -15px;
    }

    .sidebar>h3::after {
        width: 4px;
        height: 4px;
        border: 2px solid white;
        bottom: -17px;
    }

    .sidebar ul li a span {
        display: none;
    }
}

/* End Sidebar */

/* Start Content */

.content {
    overflow: hidden;
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--clr-neutral--200);
}

.head .search input {
    margin-left: 5px;
    padding-left: 30px;
    width: 180px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 230px;
}

@media (max-width: 767px) {
    .head .search input {
        width: 140px;
    }

    .head .search input:focus {
        width: 160px;
    }
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .top-rt .n-profile {
    margin-left: 20px;
}

.head .top-rt .ac-profile {
    display: block;
    text-align: center;
}

.head .top-rt .ac-profile {
    font-size: 13px;
    color: var(--clr-neutral--200)
}

@media (max-width: 767px) {
    .head .top-rt .n-profile {
        display: none;
    }

}

.head .top-rt img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: 2px solid var(--clr-accent-one);
    border-radius: 50%;
}

.head .top-rt .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--clr-primary-900);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.page h1 {
    font-size: 1.5rem;
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px
}

.page h1::after {
    background-color: var(--clr-primary-600);
    width: 50px
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* End Content */

/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 3px solid white;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--clr-primary-900);
}


@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* End Welcome Widget */

/* Start Qiuck Draft Widget  */
.quick-draft textarea {
    resize: none;
    min-height: 140px;
}

.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
}

.quick-draft .save:hover {
    background-color: var(--clr-primary-900);
}

/* End Qiuck Draft Widget  */

/* Start Targets  */
.targets .targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.targets .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.targets .details .progress>.bg-red span::after {
    border-top-color: var(--clr-primary-600);
}

.targets .details .progress>.bg-blue span::after {
    border-top-color: var(--clr-accent-one);
}

.targets .details .progress>.bg-orange span::after {
    border-top-color: var(--clr-accent-tree);
}

.bg-red .icon,
.bg-red .progress {
    background-color: var(--clr-primary-200);
}

.bg-blue .icon,
.bg-blue .progress {
    background-color: var(--clr-accent-one-200);
}

.bg-orange .icon,
.bg-orange .progress {
    background-color: var(--clr-accent-tree-200);
}

/* End Targets  */

/* Start Tickets  */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width: 767px) {
    .tickets .box {
        width: 100%
    }
}

/* End Tickets  */

/* Start Letest News */
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content
    }
}

/* End Letest News */

/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eee;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
}

.tasks .delete:hover {
    color: var(--clr-primary-900)
}

/* End Tasks */

/* Start Latest Uploads */
.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li svg {
    width: 40px;
    height: 40px;
}

/* End Latest Uploads */

/* Start Last Project  */
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--clr-primary-600);
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    ;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    outline: 2px solid var(--clr-primary-600);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--clr-primary-600);
}

.last-project ul li.current::before {
    animation: chage-color .5s infinite alternate;
}

.last-project .launch-icon {
    position: absolute;
    width: 140px;
    right: 0;
    bottom: 0;
    opacity: .3;
}

/* End Last Project  */

/* Start reminder  */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}

.reminders ul li>.red {
    border-left: 2px solid var(--clr-primary-600);
}

.reminders ul li>.blue {
    border-left: 2px solid var(--clr-accent-one);
}

.reminders ul li>.green {
    border-left: 2px solid var(--clr-accent-two);
}

.reminders ul li>.orange {
    border-left: 2px solid var(--clr-accent-tree);
}

/* End reminder */

/* Start latst Post */
.latest-post .avatar {
    width: 48px;
    height: 48px;
}

.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}

/* End latest Post */

/* Start Social Media  */
.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: .4s;
}

.social-media .box i:hover {
    transform: rotate(8deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

/* End Social Media  */

/* Start Project Table  */
.projects .responsive-table {
    overflow-x: auto;
}

.projects table {
    min-width: 1000px;
    border-spacing: 0;
}

.projects thead td {
    background-color: #eee;
    font-weight: bold;
}

.projects table td {
    padding: 15px;
}

.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: .3s;
}

.projects tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.projects tbody tr:hover td {
    background-color: #faf7f7;
}

.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: whitesmoke;
}

.projects table img:not(:first-child) {
    margin-left: -16px;
}

/* End Project Table  */

/* Start Settings */

.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.settings-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}

.settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}

.settings-page .sec-box {
    padding-bottom: 15px
}

.settings-page .sec-box:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.settings-page .sec-box .button {
    transition: .3s;
}

.settings-page .sec-box .button:hover {
    background-color: var(--clr-primary-900)
}

.settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: .3s;
}

.settings-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}

.settings-page .social-boxes>div:focus-within i {
    color: var(--clr-primary-400);
}

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: .3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--clr-primary-600);
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--clr-primary-600);
}

.settings-page :disabled {
    cursor: no-drop;
    background-color: #F0F4F8;
    color: #bbb;
}

/* End Settings */
/* Start Animation */

@keyframes chage-color {
    from {
        background-color: var(--clr-primary-600);
    }

    to {
        background-color: white;
    }
}

/* End Animation */